<form class="converter__panel" [formGroup]="convertForm" (ngSubmit)="convert()">
  <div class="converter__panel-left">
    <div class="converter__panel-input">
      <label for="amount">Amount.</label>
      <input
        type="number"
        [formControl]="amount"
        id="amount"
        max="250000000000"
        min="0.01" />

      <ng-container *ngIf="amount.touched">
        <p
          class="text_red_error"
          *ngIf="amount.errors?.['min'] || amount.errors?.['max']">
          This Field should be more than 0.01 and less than 250,000,000,000.
        </p>
        <p class="text_red_error" *ngIf="amount.errors?.['required']">
          Field is required.
        </p>
      </ng-container>
    </div>

    <div class="converter__panel-conversion-rate">
      <p *ngIf="conversionRate === 0 && !PREMIUM_PLAN">Loading..</p>
      <p *ngIf="conversionRate !== 0 && !PREMIUM_PLAN">
        1.00 {{ convertForm.value.from }} = {{ conversionRate }}
        {{ convertForm.value.to }}
      </p>
      <p class="text_red_error" *ngIf="PREMIUM_PLAN">
        Sorry FREE Plan doesn't support this CURRENCY Convertion.
      </p>
    </div>
  </div>
  <div>
    <div class="converter__panel-right">
      <div class="converter__panel-dropdown">
        <app-dropdowns
          [list]="symbols"
          placeholder="From."
          [control]="from"
          [disabled]="convertForm.invalid || detailsMode"></app-dropdowns>
      </div>
      <img
        (click)="swapFromIntoTo()"
        src="assets/svgs/change_icon.svg"
        alt="Change Icon" />
      <div class="converter__panel-dropdown">
        <app-dropdowns
          [list]="symbols"
          placeholder="To."
          [control]="to"
          [disabled]="convertForm.invalid"></app-dropdowns>
      </div>
    </div>
    <app-button
      content="Convert"
      type="submit"
      [disabled]="convertForm.invalid"></app-button>

    <div class="converter__panel-result">
      <div *ngIf="!PREMIUM_PLAN" class="result__text">
        {{ conversionResult === 0 ? '00.00' : conversionResult }}
        {{ convertForm.value.to }}
      </div>

      <p class="text_red_error" *ngIf="PREMIUM_PLAN">
        Sorry FREE Plan doesn't support this CURRENCY Convertion.
      </p>

      <a
        [routerLink]="[
          '/',
          convertForm.value.from + '-' + convertForm.value.to
        ]"
        class="details__btn"
        *ngIf="!detailsMode">
        <app-button content="More Details" type="button"></app-button>
      </a>
    </div>
  </div>
</form>
