button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--grey-light-1);
  font-size: 2rem;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
