h2 {
  margin-bottom: 4rem;
  font-size: 3rem;
}

.home__container {
  padding: 3.2rem;
  grid-gap: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 2px 2px 2.9rem 1.1rem hsla(240, 5%, 41%, 0.2);
}
