// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$currency-exchanger-primary: mat.define-palette(mat.$indigo-palette);
$currency-exchanger-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$currency-exchanger-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$currency-exchanger-theme: mat.define-light-theme(
  (
    color: (
      primary: $currency-exchanger-primary,
      accent: $currency-exchanger-accent,
      warn: $currency-exchanger-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($currency-exchanger-theme);

@import 'assets/styles/media_queries_breakpoints.scss';

:root {
  --color-primary: #4040ff;
  --color-primary-light-1: #e4ecf9;
  --color-primary-light-2: #7a9efd;
  --color-primary-dark-1: #2828ce;
  --color-primary-dark-2: #2a2abc;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // THAT IS ONE rem is EQUAL TO 10 px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // TO MAKE THE GLOBAL ONE rem EQUAL TO  8px
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-1);
  background-color: #f9faff;
  min-height: 100vh;
}

.text_red_error {
  color: #f87171;
  margin-top: 1rem;
  font-weight: 600;
}
