// THOSE VARIABLES FOR MEDIA QUERY AND THEY ARE SCSS VARIABLES BECAUSE CSS CUSTOM PROPERTY DOESN'T WORK IN MEDIA QUERY

$bp-widest: 125em; // 2000px
$bp-wide: 100em; // 1600px
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px